@model Map
<form asp-controller="Map" asp-action="Create">
    <p>    
        <label asp-for="searchTerm"></label>
        <input asp-for="searchTerm">
    </p>
 <button type="submit">Save</button>
 </form>
 